files:
  "/home/ec2-user/bin/promote-beanstalk.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ## Copyright (c) MTLLC, 2016. All rights reserved.
      
      
         
      ebs_name=$1
      
      if [ ! $ebs_name ]; then
      	echo ''
      	echo '    ' usage: ./update-beanstalk.sh beanstalk_name
      	echo ''
      	exit 1
      fi
      
      
      region=`curl -s http://169.254.169.254/latest/meta-data/hostname | awk -F. '{print $2;}'`
      echo region == $region
      
      exists=`aws elasticbeanstalk describe-environments --region $region --application-name $ebs_name --environment-name $ebs_name-dev | grep $ebs_name-dev | grep CNAME  | wc -l`
      if [ ! $exists -eq 1 ]; then
      	echo ''
      	echo '    ' ERROR: beanstalk does not exist: $ebs_name-dev
      	echo ''
      	exit 1
      fi
      
      working_dir=/tmp/beanstalk-$ebs_name-$$
      mkdir $working_dir
      chmod 777 $working_dir
      cd $working_dir
      echo 1 | eb init $ebs_name --region $region
      eb use $ebs_name-dev --region $region
      if [ ! $? -eq 0 ]; then
      	echo ''
      	echo '    ' ERROR: unable to set beanstalk environment
      	echo ''
      	exit 1
      fi 
      
      
      # retrieve and build code
      
      date
      echo ''
      version_label=`aws elasticbeanstalk describe-environments --region $region --application-name $ebs_name --environment-name $ebs_name-dev |\
      grep VersionLabel | awk '{print $2;}' | sed 's/"//g' | sed 's/,//g'`
      echo version_label is $version_label
      
      
      echo working directory is `pwd`
      # swap 
      echo eb swap $ebs_name-dev --destination_name $ebs_name
      eb swap $ebs_name-dev --destination_name $ebs_name
      
      
      echo aws elasticbeanstalk update-environment --region $region \
      --application-name $ebs_name --environment-name $ebs_name --version-label $version_label
      
      aws elasticbeanstalk update-environment --region $region \
      --application-name $ebs_name --environment-name $ebs_name --version-label $version_label
      
      
      ebs_ready=0
      dev_ready=0
      while [ $ebs_ready -ne 1 ] || [ $dev_ready -ne 1 ]; do 
      
      sleep 1
      echo ''
      date
      echo -n $ebs_name '   '
      aws elasticbeanstalk describe-environments --region us-west-2 --application-name $ebs_name --environment-name $ebs_name | grep '"Status":' 
      ebs_ready=`aws elasticbeanstalk describe-environments --region us-west-2 --application-name $ebs_name --environment-name $ebs_name | grep '"Status":' | grep '"Ready"' | wc -l`
      
      
      echo -n $ebs_name-dev
      aws elasticbeanstalk describe-environments --region us-west-2 --application-name $ebs_name --environment-name $ebs_name-dev | grep '"Status":' 
      dev_ready=`aws elasticbeanstalk describe-environments --region us-west-2 --application-name $ebs_name --environment-name $ebs_name-dev | grep '"Status":' | grep '"Ready"' | wc -l`     
      
      done
      
      
      echo ''
      echo deployment to $ebs_name complete
      echo eb swap $ebs_name-dev --destination_name $ebs_name
      eb swap $ebs_name-dev --destination_name $ebs_name
            
      exit 0


  "/home/ec2-user/bin/prep-server.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash 
      ## Copyright (c) MTLLC, 2016. All rights reserved.
      
      echo ''
      echo yum update -y
      echo ''
      yum update -y
      
      echo ''
      echo yum install git -y
      echo ''
      yum install git -y
      
      
      echo ''
      echo yum install java-1.8.0-openjdk-devel -y
      echo ''
      yum install java-1.8.0-openjdk-devel -y
      
      echo ''
      echo yum install maven
      echo ''
      echo wget http://repos.fedorapeople.org/repos/dchen/apache-maven/epel-apache-maven.repo -O /etc/yum.repos.d/epel-apache-maven.repo
      wget http://repos.fedorapeople.org/repos/dchen/apache-maven/epel-apache-maven.repo -O /etc/yum.repos.d/epel-apache-maven.repo
      
      echo sed -i s/\$releasever/6/g /etc/yum.repos.d/epel-apache-maven.repo
      sed -i s/\$releasever/6/g /etc/yum.repos.d/epel-apache-maven.repo
      
      echo yum install -y apache-maven
      yum install -y apache-maven
      mvn --version
      
      
      echo ''
      echo REMOVE JAVA 1.7
      echo update-alternatives ...
      echo ''
      echo update-alternatives --remove java  /usr/lib/jvm/jre-1.7.0-openjdk.x86_64/bin/java
      update-alternatives --remove java  /usr/lib/jvm/jre-1.7.0-openjdk.x86_64/bin/java
      echo update-alternatives --remove javac  /usr/lib/jvm/java-1.7.0-openjdk.x86_64/bin/javac
      update-alternatives --remove javac  /usr/lib/jvm/java-1.7.0-openjdk.x86_64/bin/javac
      
      echo ''
      echo install awsebcli
      echo ''
      echo pip install awsebcli
      pip install awsebcli
      
      
      echo yum update -y
      yum update -y
      
      echo ''
      echo /usr/local/bin/eb --version
      /usr/local/bin/eb --version
      
      echo ''
      echo ''
      
      echo mvn -version
      mvn -version
      
      echo ''
      echo ''
      
      echo git --version
      git --version
      
      echo ''
      date
      echo 'SETUP COMPLETE'
      exit 0


  "/home/ec2-user/bin/update-beanstalk.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      ## Copyright (c) MTLLC, 2016. All rights reserved.
         
      ebs_name=$1
      git_url=$2
      
      if [ ! $ebs_name ]; then
      	echo ''
      	echo '    ' usage: ./update-beanstalk.sh beanstalk_name git_url
      	echo ''
      	exit 1
      fi
      
      
      if [ ! $git_url ]; then
      	echo ''
      	echo '    ' usage: ./update-beanstalk.sh beanstalk_name git_url
      	echo ''
      	exit 1
      fi
      
      region=`curl -s http://169.254.169.254/latest/meta-data/hostname | awk -F. '{print $2;}'`
      echo region == $region
      
      exists=`aws elasticbeanstalk describe-environments --region $region --application-name $ebs_name --environment-name $ebs_name-dev | grep $ebs_name-dev | grep CNAME  | wc -l`
      if [ ! $exists -eq 1 ]; then
      	echo ''
      	echo '    ' ERROR: beanstalk does not exist: $ebs_name-dev
      	echo ''
      	exit 1
      fi
      
      working_dir=/tmp/beanstalk-$ebs_name-$$
      mkdir $working_dir
      chmod 777 $working_dir
      cd $working_dir
      echo 1 | eb init $ebs_name --region $region
      eb use $ebs_name-dev --region $region
      if [ ! $? -eq 0 ]; then
      	echo ''
      	echo '    ' ERROR: unable to set beanstalk environment
      	echo ''
      	exit 1
      fi 
      
      
      # retrieve and build code
      
      git_dir=/tmp/eb_build-$ebs_name.$$
      echo ''
      echo creating build directory $git_dir
      echo ''
      mkdir $git_dir
      cd $git_dir
      git clone $git_url .
      if [ ! $? -eq 0 ]; then
      	echo ''
      	echo '    ' ERROR: unable to clone repo: $git_url
      	echo ''
      	exit 1
      fi 
      
      echo compiling $ebs_name
      echo ''
      echo mvn clean install
      mvn clean install
      echo ''
      cd -
      

      echo jar xvf $git_dir/target/*.war .
      
      war_file=`ls -1 $git_dir/target | grep .war`
      echo war_file is $war_file
      
      if [ ! $war_file ]; then
        echo ''
        echo 'unable to create WAR file'
        echo ''
        exit 1
      fi
      
      
      
      echo ''
      echo fold in webapps content && sleep 1
      echo ''
      echo jar xvf $git_dir/target/$war_file . 
      jar xf $git_dir/target/$war_file    
      
      echo eb deploy $ebs_name-dev
      eb deploy $ebs_name-dev
      exit $?
      





commands:      
  01_runmyshellscript:
    command: "sudo /home/ec2-user/bin/prep-server.sh"
  02_openec2dir:
    command: "sudo chmod 755 /home/ec2-user"

    
    
